@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */

:root {
    --primary: #49a6e9;
    --primary-light: #5aaaff9c;
    --primary-text: #102a42;
    --light-gray: #f1f5f8;
    font-family: "Roboto", sans-serif;
    --fixed-width: 600px;
    --transition: 0.3s all linear;
    --gold: #c59d5f;
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style-type: none;
}

.btn {
    background: transparent;
    border: transparent;
    cursor: pointer;
}

.main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(241, 245, 248);
    color: var(--primary-text);
    text-align: center;
    display: grid;
    place-content: center;
    letter-spacing: 2px;
}

/* .container {
    max-width: 80%;
    width: var(--fixed-width);
    margin: 0 auto;
    display: grid;
    gap: 2rem;
} */
body {
    background: #f1f5f8;
}

.section-center {
    max-width: var(--fixed-width);
    margin: 3rem auto;
    height: 100vh;
}

/* Project CSS */

.title {
    text-align: center;
    color: var(--gold);
    font-size: 3rem;
    text-transform: capitalize;
    font-family: "Great Vibes", cursive;
    margin: 2rem auto;
    letter-spacing: 1px;
}

.question-container {
    margin-top: 10rem;
}

.question {
    background: white;
    box-shadow: 0 3px 3px #ddd;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.question-title {
    /* margin-bottom: 1rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-title p {
    color: var(--gold);
    text-transform: capitalize;
    font-size: 1.25rem;
    letter-spacing: 1px;
}

.btn-question {
    font-size: 1.5rem;
    color: var(--gold);
    transition: var(--transition);
}

.btn-question:hover {
    transform: rotate(90deg);
}

.question-answer {
    display: none;
}

.question-answer.show-answer {
    margin-top: 1rem;
    border-top: 1px solid #bbb;
    display: block;
}

.question-answer p {
    padding: 1rem 0;
    color: #444;
}

.btn-minus {
    display: none;
}
