@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */

:root {
    --primary: #49a6e9;
    --primary-text: #102a42;
    font-family: "Roboto", sans-serif;
    --fixed-width: 600px;
    --transition: 0.3s all linear;
}

.section-center {
    max-width: 1170px;
    /* width: var(--fixed-width); */
    margin: 0 auto;
}

a {
    text-decoration: none;
    display: inline-block;
}

.btn {
    background: transparent;
    cursor: pointer;
    padding: 0.75rem 1rem;
    border-radius: 5px;
}

/* PROJECT STYLES */

.main {
    width: 100%;
    height: 100vh;
    background-color: rgb(241, 245, 248);
    color: var(--primary-text);
    text-align: center;
    display: grid;
    place-content: center;
    letter-spacing: 2px;
}

.container {
    display: grid;
    gap: 2rem;
}
.title {
    font-size: 4rem;
    text-transform: capitalize;
}

.number {
    font-size: 7rem;
}

.btn-container {
    display: flex;
    gap: 1.5rem;
}

.btn {
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 10px;
    border: 2px solid #102a42;
    color: var(--primary-text);
    transition: var(--transition);
}

.btn:hover {
    color: white;
    background-color: #102a42;
}
