@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */

:root {
    --primary: #49a6e9;
    font-family: "Roboto", sans-serif;
    --fixed-width: 600px;
    --transition: 0.3s all linear;
}

.section-center {
    max-width: 1170px;
    /* width: var(--fixed-width); */
    margin: 0 auto;
}

a {
    text-decoration: none;
    display: inline-block;
}

.btn {
    background: transparent;
    cursor: pointer;
    padding: 0.75rem 1rem;
    border-radius: 5px;
}

/* PROJECT STYLES */

.nav {
    height: 3rem;
    background-color: white;
    box-shadow: 0 1px 2px #333;
    display: flex;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.25rem;
}

.logo {
    color: var(--primary);
}

.navbar a {
    padding-left: 1rem;
}

.main {
    width: 100%;
    height: calc(100vh - 3rem);
    background-color: green;
    text-align: center;
    display: grid;
    place-content: center;
}

.color-container {
    background-color: #222;
    color: white;
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 500;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.color {
    color: var(--primary);
}

.btn-color {
    text-transform: uppercase;
    border: 2px solid #222;
    color: #222;
    font-size: 1rem;
    font-weight: 700;
    transition: var(--transition);
}

.btn-color:hover {
    color: white;
    background-color: #222;
}
