@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gold: #c59d5f;
    --background: #f1f5f8;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background);
    color: #102a42;
}

.container {
    width: 100%;
    margin: 5rem auto 5rem;
    text-align: center;
}

.title {
    text-transform: capitalize;
    font-size: 2rem;
    letter-spacing: 2px;
}

.underline {
    width: 100px;
    height: 4px;
    margin: 1rem auto 2rem;
    background-color: #c59d5f;
}

.btn-container {
    /* width: 90%; */
    margin: 0 auto 3rem;
}

.btn {
    background: transparent;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    margin: 0 0.25rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: var(--gold);
    border: 2px solid var(--gold);
    border-radius: 5px;
    transition: 0.3s all linear;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--gold);
    color: var(--background);
}

.menu-items {
    width: 80%;
    margin: 0 auto;
}

.item {
    width: 100%;
    margin: 0 auto 3rem;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 4px solid var(--gold);
    border-radius: 5px;
}

.item-header {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0;
    border-bottom: 1px dotted #102a42;
}

.item-title {
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 0.9rem;
}

.item-price {
    color: var(--gold);
}

.item-description {
    text-align: left;
    padding: 0.75rem 0;
}

@media screen and (min-width: 768px) {
    .item {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1rem;
    }

    img {
        height: 175px;
    }
}

@media screen and (min-width: 1200px) {
    .menu-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .item {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 1rem;
    }
}
